extends ./layout.jade

block title
  title Index

block body

  section#splash

  if auth
    section#dashboard
      p Dashboard

      #dashboard-data
        p Dashboard graph

        #dashboard-graph-container

      #dashboard-data-container
        p!= data.achieved + ' litres collected today'
        p!= data.log[0].forecast + ' litres forecast today'
        p!= data.settings.goal - data.log[0].achieved + ' litres left till weekly goal'

      #dashboard-history
        p Dashboard history
  else
    section#entry
      form#form(action="/", method="POST")

        label(for="username") Username
        input(name="username", type="text")

        label(for="password") Password
        input(name="password", type="password")

        input(name="submit", type="submit", value="Register")
        input(name="submit", type="submit", value="Login" )
