extends ./layout.jade

block title
  title Setup

block body

  section#setup
    p Setup section

    #setup-one
      p Setup one

    #setup-two
      p Setup two

    #setup-three
      p Setup three

    #setup-carousel.carousel

    #next
      a(href='/settings') Done